body{
    font-family: $font-default;
    background-color: #fff;
    scroll-behavior: smooth;
}
.navbar-career{
    width: 100%;
    border-bottom: 1px solid rgba(204, 214, 220, 0.5);
    background-color: #fff;
    padding: 0 40px;
    @media (max-width: 990px) {
        padding: 0;
    }
    .header{
        padding: 20px 0;
        display: inline-block;
        @media (max-width: 990px) {
            display: flex;
            align-items: center;
            justify-content: space-between;
            width: 100%;
            text-align: center;
            border-bottom: 1px solid rgba(204, 214, 220, 0.5);
            padding: 20px;
        }
        img{
            height: 30px;
        }
    }
    .navigation{
        display: inline-block;
        margin-left: 60px;
        @media (max-width: 990px) {
            margin-left: 0;
            width: 100%;
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 0;
            li{
                padding: 25px 0;
                margin: 0 16px;
                position: relative;
                @media (max-width: 990px) {
                    padding: 20px 0;
                }
                a{
                    font-style: normal;
                    font-weight: 600;
                    font-size: 13px;
                    line-height: 20px;
                    text-decoration: none;
                    color: rgba(69, 90, 100, 0.5);
                    &:hover{
                        color: #455A64;
                        transition: 200ms;
                    }
                }
                &.active{
                    a{
                        color: #455A64;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        height: 4px;
                        bottom: 0;
                        border-top-right-radius: 4px;
                        border-top-left-radius: 4px;
                        width: 100%;
                        background-color: #455A64;
                    }
                }
            }
        }
    }
    .user-icon{
        float: right;
        display: flex;
        align-items: center;
        min-height: 72px;
        cursor: pointer;
        @media (max-width: 990px) {
            display: none;
        }
        img{
            width: 36px;
            height: 36px;
            min-width: 36px;
            min-height: 36px;
            max-width: 36px;
            max-height: 36px;
            border-radius: 50%;
            object-fit: cover;
            margin-right: 8px;
        }
        p{
            margin: 0;
            font-weight: 600;
            font-size: 13px;
            line-height: 20px;
            color: #455A64;
        }
    }
    .user-icon-res{
        display: none;
        @media (max-width: 990px) {
            display: block;
            cursor: pointer;
        }
        img{
            width: 36px;
            height: 36px;
            min-width: 36px;
            min-height: 36px;
            max-width: 36px;
            max-height: 36px;
            border-radius: 50%;
            object-fit: cover;
        }
    }
}
#container-career{
    margin: 40px 0;
    @media (max-width: 990px) {
        margin: 20px 0;
    }
    .button-rounded{
        margin-bottom: 10px;
    }
    .explainer-video{
        padding: 24px 0;
        margin-top: 24px;
        border-top: 1px solid #D7D9EE;
        @media (max-width: 990px) {
            margin-bottom: 0;
        }
    }
    .main-dashboard{
        margin-left: 28px;
        @media (max-width: 990px) {
            margin: 0;
        }
    }
    .main-dashboard-2{
        margin-top: 50px;
    }
    .title-dashboard{
        margin-bottom: 14px;
        h1{
            font-weight: bold;
            font-size: 28px;
            line-height: 42px;
            color: #455A64;
            margin-bottom: 0;
            @media (max-width: 990px) {
                font-size: 24px;
                line-height: 38px;
            }
        }
    }
    .tabs-dashboard{
        margin-bottom: 24px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        flex-wrap: wrap;
        border-bottom: 1px solid #D7D9EE;
        @media (max-width: 990px) {
            border-bottom: 0;
            margin-bottom: 12px;
        }
        .nav-pills{
            @media (max-width: 990px) {
                width: 100%;
                border-bottom: 1px solid #D7D9EE;
                margin-bottom: 12px;
            }
            .nav-link{
                padding: 20px 0;
                margin-right: 32px;
                background-color: transparent;
                font-weight: 600;
                font-size: 13px;
                line-height: 20px;
                color: #455A64;
                opacity: 0.5;
                border-radius: 0;
                &.active{
                    opacity: 1;
                    border-bottom: 2px solid #455A64;
                }
            }
        }
        .filter-content{
            display: flex;
            align-items: center;
            margin-right: 12px;
            h4{
                margin-bottom: 0;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: rgba(69, 90, 100, 0.5);
                margin-right: 4px;
            }
            .form-select{
                position: relative;
                background-color: transparent;
                border: none;
                font-style: normal;
                font-weight: 600;
                font-size: 12px;
                line-height: 16px;
                color: #455A64;
                letter-spacing: 0.3px;
                outline: none;
                cursor: pointer;
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgb3BhY2l0eT0iMC41Ij4KPHBhdGggZD0iTTExLjI5MjkgMTMuNzkyOUMxMS42ODM0IDE0LjE4MzQgMTIuMzE2NiAxNC4xODM0IDEyLjcwNzEgMTMuNzkyOUwxNS4yOTI5IDExLjIwNzFDMTUuOTIyOSAxMC41NzcxIDE1LjQ3NjcgOS41IDE0LjU4NTggOS41SDkuNDE0MjFDOC41MjMzMSA5LjUgOC4wNzcxNCAxMC41NzcxIDguNzA3MTEgMTEuMjA3MUwxMS4yOTI5IDEzLjc5MjlaIiBmaWxsPSIjNDU1QTY0Ii8+CjwvZz4KPC9zdmc+Cg==");
                background-size:20px;
                &:focus, &:active{
                    outline: none;
                }
            }
        }
    }
}

.navbar-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 28px 42px;
    @media (max-width: 990px) {
        padding: 24px;
    }
    &.white{
        .navigation{
            ul{
                li{
                    a{
                        color: #455A64;
                    }
                }
            }
        }
    }
    .header{
        width: 10%;
        @media (max-width: 990px) {
            width: 60%;
            display: flex;
            align-items: center;
        }
        .btn-collapse{
            cursor: pointer;
            img{
                width: 24px;
                height: 24px;
            }
            @media (max-width: 990px) {
                margin-right: 16px;
            }
        }
        .logo{
            img{
                height: 50px;
                @media (max-width: 990px) {
                    height: 40px;
                }
            }
        }
    }
    .navigation{
        @media (max-width: 990px) {
            display: none;
            position: fixed;
            top: 0;
            left: 0;
            height: 100vh;
            padding: 16px;
            min-width: 12rem;
            z-index: 999;
            background-color: #fff;
        }
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 0;
            @media (max-width: 990px) {
                display: block;
            }
            li{
                padding: 25px 0;
                margin: 0 16px;
                position: relative;
                @media (max-width: 990px) {
                    padding: 10px;
                    margin: 0;
                }
                a{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    text-decoration: none;
                    color: #fff;
                    @media (max-width: 990px) {
                        color: #455A64;
                    }
                    &:hover{
                        color: #fff;
                        transition: 200ms;
                        @media (max-width: 990px) {
                            color: #293a42;
                        }
                    }
                }
                &.active{
                    a{
                        color: #455A64;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        height: 4px;
                        bottom: 0;
                        border-top-right-radius: 4px;
                        border-top-left-radius: 4px;
                        width: 100%;
                        background-color: #455A64;
                    }
                }
            }
        }
    }
    .cta{
        width: 10%;
        text-align: right;
        @media (max-width: 990px) {
            width: 40%;
            text-align: right;
        }
        .btn-login{
            font-weight: 600;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            background-color: #24343C;
            border-radius: 50px;
            padding: 10px 32px;
            border: none;
            &:hover{
                background-color: #1c2a31;
                transition: 200ms;
            }
        }
    }
}
#home-career{
    margin: 50px 0;
    @media (max-width: 990px) {
        margin: 40px 0;
    }
    .hero-title{
        margin-top: 20px;
        @media (max-width: 990px) {
            text-align: center;
        }
        label{
            font-style: normal;
            font-weight: 600;
            font-size: 18px;
            line-height: 27px;
            margin-bottom: 8px;
            color: #FFFFFF;
            @media (max-width: 990px) {
                font-size: 16px;
                line-height: 25px;
            }
        }
        h1{
            font-style: normal;
            font-weight: 600;
            font-size: 52px;
            line-height: 64px;
            text-transform: capitalize;
            margin-bottom: 8px;
            color: #FFFFFF;
            @media (max-width: 990px) {
                font-size: 42px;
                line-height: 54px;
            }
        }
        p{
            font-weight: normal;
            font-size: 24px;
            line-height: 36px;
            color: #FFFFFF;
            opacity: 0.5;
            margin-bottom: 0;
            @media (max-width: 990px) {
                font-size: 20px;
                line-height: 32px;
            }
        }
    }
    .hero-image{
        padding: 20px;
        img{
            width: 100%;
            height: auto;
        }
    }
}
#profil-career{
    margin: 30px 0;
    @media (max-width: 990px) {
        margin: 20px 16px;
    }
    p{
        font-weight: normal;
        color: #455A64;
        margin-bottom: 16px;
        font-size: 13px;
        line-height: 24px;
        @media (max-width: 990px) {
            font-size: 11px;
            line-height: 22px;
        }
    }
    h1,h2,h3,h4,h5,h6{
        font-weight: 600;
        color: #24343C;
    }
    ul{
        li{
            font-weight: normal;
            font-size: 13px;
            line-height: 24px;
            color: #455A64;
            margin-bottom: 16px;
            @media (max-width: 990px) {
                font-size: 11px;
                line-height: 22px;
            }
        }
    }
}
.nopadding{
    padding: 0;
    margin: 0;
}
#slider-home{
    margin-bottom: 40px;
    .list-job{
        .owl-stage{
            padding-left: 0 !important;
        }
        .owl-dots {
            text-align: center;
            padding-top: 15px;
        }
        .owl-dots button.owl-dot {
            width: 10px;
            height: 10px;
            border-radius: 50%;
            display: inline-block;
            background: #FFFFFF;
            opacity: 0.5;
            margin: 0 6px;
        }
        .owl-dots button.owl-dot.active {
            width: 14px;
            height: 14px;
            background-color: #fff;
            opacity: 1;
        }
        .owl-dots button.owl-dot:focus {
            outline: none;
        }
        .card-job{
            width: 100%;
            padding: 24px;
            background: #FFFFFF;
            border: 1px solid #E8EAF4;
            box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.1);
            border-radius: 8px;
            .title-job{
                margin-bottom: 14px;
                small{
                    font-weight: 500;
                    font-size: 11px;
                    line-height: 18px;
                    color: #24343C;
                    opacity: 0.5;
                    margin-bottom: 4px;
                }
                h1{
                    font-weight: 600;
                    font-size: 20px;
                    line-height: 28px;
                    color: #24343C;
                }
            }
            .locdate{
                display: flex;
                align-items: center;
                .location{
                    display: flex;
                    align-items: center;
                    margin-right: 10px;
                    img{
                        width: 20px;
                        height: 20px;
                        margin-right: 6px;
                    }
                    p{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        color: #455A64;
                        margin-bottom: 0;
                    }
                }
                .type{
                    font-weight: 600;
                    font-size: 12px;
                    line-height: 18px;
                    color: #455A64;
                    opacity: 0.5;
                }
            }
            .author{
                margin-top: 40px;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 36px;
                    height: 36px;
                    min-width: 36px;
                    min-height: 36px;
                    max-width: 36px;
                    max-height: 36px;
                    margin-left: 8px;
                    object-fit: cover;
                    border-radius: 50%;
                }
                .profile{
                    small{
                        font-weight: 500;
                        font-size: 11px;
                        line-height: 18px;
                        color: #24343C;
                        opacity: 0.5;
                        margin-bottom: 2px;
                    }
                    h3{
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        color: #24343C;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
.overlay{
    background-color: rgba(0, 0, 0, 0.2);
    position: fixed;
    width: 100%;
    height: 100vh;
    display: none;
    z-index: 98;
    overflow: hidden;
}
#login{
    margin-bottom: 40px;
    @media (max-width: 990px) {
        margin: 20px 16px;
    }
    .title{
        margin-bottom: 24px;
        h1{
            font-weight: 300;
            font-size: 42px;
            line-height: 64px;
            letter-spacing: -0.002em;
            color: #0E3F41;
            opacity: 0.5;
            margin-bottom: 0;
        }
    }
    .form-group{
        margin-bottom: 14px;
        label{
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #455A64;
            opacity: 0.8;
            margin-bottom: 6px;
        }
        .form-control{
            background: #FFFFFF;
            border: 1px solid rgba(204, 214, 220, 0.6);
            border-radius: 8px;
            height: 46px;
            font-weight: 600;
            font-size: 12px;
            line-height: 18px;
            color: #455A64;
        }
    }
    a{
        font-weight: 600;
        font-size: 12px;
        line-height: 18px;
        color: #718F9D;
        text-decoration: none;
    }
    .cta{
        margin-bottom: 24px;
        .button-rounded{
            width: auto;
            padding: 10px 32px;
        }
        .form-check{
            .form-check-label{
                font-weight: 500;
                font-size: 11px;
                line-height: 18px;
                color: #455A64;
                margin-bottom: 0;
            }
        }
        .form-check-input{
            width: 44px;
            height: 22px;
            margin-right: 4px;
        }
        .form-check-input:checked{
            background-color: #718F9D;
            border-color: #718F9D;
        }
    }
    .atau{
        border-bottom: 1px solid rgba(204, 214, 220, 0.4);
        margin-bottom: 24px;
        position: relative;
        &:after{
            position: absolute;
            content: "Atau";
            text-align: center;
            padding: 2px 8px;
            background-color: #fff;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #718F9D;
            left: 50%;
            transform: translate(-50%, -50%);
        }
    }
    .cta-more{
        .button-rounded{
            margin-bottom: 12px;
            background-color: #CCD6DC;
            color: #455A64;
        }
    }
}
.navbar-survey{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 32px;
    border-bottom: 1px solid rgba(204, 214, 220, 0.5);
    background-color: #fff;
    z-index: 999;
    @media (max-width: 990px) {
        padding: 0;
        display: block;
    }
    .breadcrumb{
        margin: 0;
        width: 30%;
        @media (max-width: 990px) {
            width: 100%;
            padding: 24px;
            border-bottom: 1px solid rgba(204, 214, 220, 0.5);
        }
        ul{
            margin: 0;
            display: flex;
            list-style: none;
            align-items: center;
            padding: 0;
            li{
                &:last-child{
                    a{
                        &::after{
                            content: none;
                        }
                    }
                }
                img{
                    width: 24px;
                    height: 24px;
                    margin-top: -2px;
                }
                a{
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 21px;
                    color: #718F9D;
                    text-decoration: none;
                    &:after{
                        content: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iOCIgaGVpZ2h0PSIxMiIgdmlld0JveD0iMCAwIDggMTIiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxwYXRoIGZpbGwtcnVsZT0iZXZlbm9kZCIgY2xpcC1ydWxlPSJldmVub2RkIiBkPSJNMC45Njk2NyAxMS41MzAzQzAuNjc2Nzc3IDExLjIzNzQgMC42NzY3NzcgMTAuNzYyNiAwLjk2OTY3IDEwLjQ2OTdMNS40MzkzNCA2TDAuOTY5NjcxIDEuNTMwMzNDMC42NzY3NzggMS4yMzc0NCAwLjY3Njc3OCAwLjc2MjU2MiAwLjk2OTY3MSAwLjQ2OTY3QzEuMjYyNTYgMC4xNzY3NzcgMS43Mzc0NCAwLjE3Njc3NyAyLjAzMDMzIDAuNDY5NjdMNy4wMzAzMyA1LjQ2OTY3QzcuMTcwOTggNS42MTAzMiA3LjI1IDUuODAxMDkgNy4yNSA2QzcuMjUgNi4xOTg5MSA3LjE3MDk4IDYuMzg5NjggNy4wMzAzMyA2LjUzMDMzTDIuMDMwMzMgMTEuNTMwM0MxLjczNzQ0IDExLjgyMzIgMS4yNjI1NiAxMS44MjMyIDAuOTY5NjcgMTEuNTMwM1oiIGZpbGw9IiM3MThGOUQiLz4KPC9zdmc+Cg==");
                        vertical-align: middle;
                        margin: 0 10px;
                        opacity: 0.5;
                    }
                }
            }
        }
    }
    .navigation{
        ul{
            list-style: none;
            display: flex;
            align-items: center;
            margin-bottom: 0;
            padding: 0;
            @media (max-width: 990px) {
                margin-left: 16px;
            }
            li{
                padding: 25px 0;
                margin: 0 16px;
                position: relative;
                @media (max-width: 990px) {
                    padding: 20px 0;
                }
                a{
                    font-style: normal;
                    font-weight: 500;
                    font-size: 14px;
                    line-height: 22px;
                    text-decoration: none;
                    color: #718F9D;
                    &:hover{
                        color: #718F9D;
                        transition: 200ms;
                    }
                }
                &.active{
                    a{
                        color: #455A64;
                    }
                    &:before{
                        content: "";
                        position: absolute;
                        height: 4px;
                        bottom: 0;
                        border-top-right-radius: 4px;
                        border-top-left-radius: 4px;
                        width: 100%;
                        background-color: #455A64;
                    }
                }
            }
        }
    }
    .cta{
        width: 30%;
        text-align: right;
        @media (max-width: 990px) {
            display: none;
        }
        .status{
            font-style: italic;
            font-weight: 500;
            font-size: 12px;
            line-height: 18px;
            color: #718F9D;
            margin-right: 20px;
            display: inline-block;
        }
        .btn-login{
            font-weight: 500;
            font-size: 14px;
            line-height: 22px;
            text-align: center;
            color: #FFFFFF;
            background-color: #718F9D;
            border-radius: 50px;
            padding: 10px 32px;
            border: none;
            &:hover{
                background-color: #1c2a31;
                transition: 200ms;
            }
        }
    }
}
.sidebar-survey{
    width: 280px;
    padding: 18px;
    border-right: 1px solid #E5EAED;
    height: 100vh;
    position: fixed;
    top: 75px;
    overflow-y: auto;
    padding-bottom: 100px;
    @media (max-width: 990px) {
        display: none;
    }
    &::-webkit-scrollbar-track {
        border-radius: 10px;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar {
        width: 0;
        background-color: #f5f5f5;
    }

    &::-webkit-scrollbar-thumb {
        border-radius: 10px;
        background-color: rgb(224, 224, 224);
    }
    .form-group{
        margin-bottom: 24px;
        label{
            font-weight: 600;
            margin-bottom: 14px;
        }
        .point-tracer{
            background: #FFFFFF;
            opacity: 0.7;
            border: 1px solid rgba(204, 214, 220, 0.5);
            box-sizing: border-box;
            border-radius: 8px;
            padding: 10px 14px;
            margin-bottom: 6px;
            display: flex;
            align-items: center;
            cursor: pointer;
            .point{
                font-weight: bold;
                font-size: 11px;
                line-height: 18px;
                color: #455A64;
                margin-right: 12px;
                background: #DEE2E9;
                border-radius: 4px;
                padding: 4px 8px 4px 4px;
                min-width: 50px;
                img{
                    margin-right: 4px;
                    width: 20px;
                    height: 20px;
                }
            }
            p{
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
                color: #455A64;
                margin-bottom: 0;
            }
            &:hover{
                transition: 200ms;
                opacity: 1;
                border: 1px solid #718F9D;
            }
            &.active{
                opacity: 1;
                border: 2px solid #718F9D;
            }
        }
        .add-point{
            display: flex;
            align-items: center;
            cursor: pointer;
            margin-top: 18px;
            img{
                margin-right: 4px;
                width: 20px;
                height: 20px;
            }
            p{
                font-weight: 600;
                font-size: 11px;
                line-height: 18px;
                color: #455A64;
                margin-bottom: 0;
            }
        }
    }
}
.content-survey{
    margin-left: 20rem;
    margin-right: 3rem;
    margin-top: 7rem;
    margin-bottom: 3rem;
    width: 100%;
    @media (max-width: 990px) {
        margin-left: 16px;
        margin-right: 16px;
        margin-top: 10rem;
        margin-bottom: 2rem;
    }
}
#modalCreate{
    .modal-dialog {
        @media (min-width: 576px){
            max-width: 640px;
        }
        .modal-content{
            border-radius: 8px;
            background-color: #fff;
            .modal-body{
                padding: 60px 30px;
                @media (max-width: 990px) {
                    padding: 30px;
                }
                .survey-modal{
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    flex-wrap: wrap;
                    .buat-survey{
                        width: 50%;
                        text-align: center;
                        padding: 0 30px;
                        border-right: 1px solid #C2D2DA;
                        position: relative;
                        cursor: pointer;
                        @media (max-width: 990px) {
                            border-bottom: 1px solid #C2D2DA;
                            border-right: 0;
                            padding: 0 0 30px 0;
                        }
                        &:hover{
                            transition: 200ms;
                            h2{
                                color: #244BD6;
                            }
                            p{
                                color: #244BD6;
                            }
                        }
                        &::after{
                            content: "OR";
                            position: absolute;
                            background: #fff;
                            right: -8px;
                            transform: translate(0, -50%);
                            top: 50%;
                            font-weight: 600;
                            font-size: 10px;
                            line-height: 18px;
                            color: #718F9D;
                            @media (max-width: 990px) {
                                right: 50%;
                                top: 92%;
                                transform: translate(0, 0);
                            }
                        }
                        &:last-child{
                            border-right: 0;
                            border-bottom: 0;
                            &::after{
                                content: none;
                            }
                        }
                        h2{
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #455A64;
                            margin-bottom: 8px;
                        }
                        p{
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 18px;
                            color: #455A64;
                            opacity: 0.7;
                            margin-bottom: 0;

                        }
                        @media (max-width: 990px) {
                            width: 100%;
                            margin-bottom: 24px;
                            &:last-child{
                                margin-bottom: 0;
                                padding: 0;
                            }
                        }
                    }
                }
            }
        }
    }
}
#modalPublish{
    .modal-dialog {
        @media (min-width: 576px){
            max-width: 640px;
        }
        .modal-content{
            border-radius: 8px;
            background-color: #fff;
            .modal-body{
                padding: 42px;
                @media (max-width: 990px) {
                    padding: 30px;
                }
                .title-publish-modal{
                    display: flex;
                    justify-content: space-between;
                    .title{
                        margin-bottom: 24px;
                        h2{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #455A64;
                            margin-bottom: 4px;
                        }
                        p{
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 18px;
                            color: #455A64;
                            opacity: 0.7;
                            margin-bottom: 0;
                        }
                    }
                }
                .content-publish{
                    .form-group{
                        margin-bottom: 14px;
                        label{
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            color: #455A64;
                            margin-bottom: 20px;
                            opacity: 1;
                        }
                        textarea.form-control{
                            min-height: 130px;
                            font-weight: 500;
                            font-size: 12px;
                            line-height: 18px;
                            color: #718F9D;
                            opacity: 0.7;
                            padding: 14px;
                        }
                        .form-control{
                            background: #FFFFFF;
                            border: 1px solid rgba(204, 214, 220, 0.6);
                            border-radius: 8px;
                            height: 46px;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 18px;
                            color: #455A64;
                        }
                        .form-select{
                            background: #FFFFFF;
                            border: 1px solid rgba(204, 214, 220, 0.6);
                            border-radius: 8px;
                            height: 46px;
                            width: 320px;
                            font-weight: 600;
                            font-size: 12px;
                            line-height: 18px;
                            color: #455A64;
                            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMjQiIGhlaWdodD0iMjQiIHZpZXdCb3g9IjAgMCAyNCAyNCIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KPGcgb3BhY2l0eT0iMC41Ij4KPHBhdGggZD0iTTExLjI5MjkgMTMuNzkyOUMxMS42ODM0IDE0LjE4MzQgMTIuMzE2NiAxNC4xODM0IDEyLjcwNzEgMTMuNzkyOUwxNS4yOTI5IDExLjIwNzFDMTUuOTIyOSAxMC41NzcxIDE1LjQ3NjcgOS41IDE0LjU4NTggOS41SDkuNDE0MjFDOC41MjMzMSA5LjUgOC4wNzcxNCAxMC41NzcxIDguNzA3MTEgMTEuMjA3MUwxMS4yOTI5IDEzLjc5MjlaIiBmaWxsPSIjNDU1QTY0Ii8+CjwvZz4KPC9zdmc+Cg==");
                            background-size:24px;
                            background-repeat: no-repeat;
                            background-position: right;
                            cursor: pointer;
                            @media (max-width: 990px) {
                                width: 100%;
                            }
                        }
                    }
                    .cta-publish{
                        margin-top: 28px;
                        display: flex;
                        align-items: center;
                        .button-rounded{
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }
}
#modalBagikan{
    .modal-dialog {
        @media (min-width: 576px){
            max-width: 640px;
        }
        .modal-content{
            border-radius: 8px;
            background-color: #fff;
            .modal-body{
                padding: 42px;
                @media (max-width: 990px) {
                    padding: 30px;
                }
                .title-publish-modal{
                    display: flex;
                    justify-content: space-between;
                    .title{
                        margin-bottom: 24px;
                        h2{
                            font-style: normal;
                            font-weight: 500;
                            font-size: 16px;
                            line-height: 24px;
                            color: #455A64;
                            margin-bottom: 4px;
                        }
                        p{
                            font-weight: normal;
                            font-size: 12px;
                            line-height: 18px;
                            color: #455A64;
                            opacity: 0.7;
                            margin-bottom: 0;
                        }
                    }
                }
                .content-share{
                    .link-share{
                        background: rgba(222, 226, 233, 0.4);
                        border: 1px solid rgba(204, 214, 220, 0.6);
                        border-radius: 8px;
                        padding: 14px;
                        font-weight: 600;
                        font-size: 12px;
                        line-height: 18px;
                        color: #455A64;
                    }
                    .cta-publish{
                        margin-top: 28px;
                        display: flex;
                        align-items: center;
                        justify-content: space-between;
                        .social{
                            img{
                                width: 24px;
                                height: 24px;
                                margin-right: 14px;
                            }
                        }
                        .button-rounded{
                            width: 152px;
                            margin-left: 12px;
                        }
                    }
                }
            }
        }
    }
}