
 /**
=========================
	- Color Palletes
=========================
*/
$color-primary:        #718F9D;
$color-primary-hover:        #223e85;
$color-border:         rgba(204, 214, 220, 0.5);
$color-black:          #455A64;
$color-black-alpha:    rgba(69, 90, 100, 0.5);

 /**
=========================
	- Typography
=========================
*/
$font-default: 'Poppins', sans-serif;